<.flash_group flash={@flash} />

<ul>
<%= for item <- @items do %>
<li>
<strong class="text-blue-500"><.link href={~p"/items/#{item.id}"}><%=  item.title%></.link></strong>::<%= item.id %>:: <%= item.description %>
</li>
<% end %>
</ul>
