<.flash_group flash={@flash} />

<ul>
<%= for item <- @items do %>
<li>
<strong class="text-blue-500"><%= link(item.title, to: "/items/#{item.id}") %></strong>::<%= item.id %>:: <%= item.description %>
</li>
<% end %>
</ul>
